@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  input:not([type="checkbox"]) {
    @apply outline-none border border-slate-300 rounded-lg
           focus:ring-2 focus:ring-purple-500 focus:border-purple-500
           transition;
  }

  textarea {
    @apply outline-none border border-slate-300 rounded-lg resize-none
           focus:ring-2 focus:ring-purple-500 focus:border-purple-500
           transition;
  }
}

